
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper {
    position:relative;
    top:51px;
}

.navbar {
    position:fixed;
    width:100%;
    z-index:2;
    .navbar-brand {
        img {
            display:inline-block;
            height:30px;
        }
    }
    
}

.intro {
    text-align:justify;
    padding-bottom:30px;
}

.page_logo {
    display:block;
    margin:0 auto;
}

@media screen and (max-width:767px) {
    .login, .register {
        padding:0 100px;
    }
}

@media screen and (max-width:480px) {
    .login, .register {
        padding:0 50px;
    }
}